@import "../variables";

.todo {
  float: left;
  width: 100%;
  text-align: left;

  .icon-space {
    margin-top: -3px;
    margin-right: 5px;
  }

  .main-list,
  .deleted-list {
    float: left;
    width: 100%;
  }
  .inverted {
    transform: scaleX(-1);
  }
  ul.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;

    > li {
      float: left;
      width: 100%;
      margin: 2px 0px;
      background: #f5f5f5;
      text-align: left;
      position: relative;
      display: flex;
      flex-direction: row;
      transition-duration: 0.2s;

      input[type="checkbox"] {
        height: 50px;
        width: 50px;
        float: left;
      }

      input:checked + label {
        text-decoration: line-through;
      }

      label {
        float: left;
        width: 100%;
        padding: 0px 0px 0px 5px;
        line-height: 50px;
      }

      .btn {
        border: 0;
        color: $black;
        font-size: 20px;
        line-height: 1.8;

        &:hover {
          color: #f5f5f5;
        }
      }

      // new ones

      .checkbox-wrapper {
        position: relative;
        display: block;
        width: 100%;
        overflow: hidden;

        input[type="checkbox"] {
          visibility: hidden;
          display: none;
        }

        .check {
          width: 50px;
          height: 50px;
          position: absolute;
          opacity: 0;
          &:checked {
            + {
              label {
                text-decoration: line-through;
                svg {
                  g {
                    path {
                      stroke-dashoffset: 0;
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }
        .label {
          span {
            margin-left: 12px;
          }
          svg {
            vertical-align: middle;
            margin-top: -2px !important;
          }
        }
        .path1 {
          stroke-dasharray: 400;
          stroke-dashoffset: 400;
          transition: 0.5s stroke-dashoffset;
          opacity: 0;
        }
      }
      .edit-div {
        position: absolute;
        top: 0;
        left: 45px;
        background: #f5f5f5;
        height: 100%;
        width: calc(100% - 45px);

        .edit-inputbox {
          height: 100%;
          border: 0px;
          background: none;
          border-radius: 0px;
          height: calc(100% - 1px);
        }
        .btn {
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
        }
      }
    }
  }
  .main-list ul.todo-list > li:hover {
    background: #eee;
    transition-duration: 0.2s;
  }
  .main-list {
    .todo-list label {
      cursor: pointer;
    }
  }
  .search-item {
    .input-group.focused {
      .input-group-text {
        border-color: $blue;
      }
      .form-control {
        border-color: $blue;
      }
    }
    .input-group {
      position: relative;

      .input-group-text {
        background: none;
        position: relative;
        border-radius: 30px !important;
        z-index: 1;
        width: 37px;
        padding: 0px;
        justify-content: center;
      }
      .form-control {
        border: 0px;
        border-radius: 0px;
        background: none;
        padding-left: 27px;
        padding-right: 20px;
        margin-left: -16px !important;
        border-bottom: 1px solid #ddd;
      }
      .close-icon {
        color: $red;
        position: absolute !important;
        right: 0;
        top: 50%;
        margin-top: -14px;
      }
    }
  }
}
